.navbar {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1em 2em;
    position: relative;

    img{
        height: 4em;
    }
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.item a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out, transform 0.2s;
}

.item a:hover {
    color: #9e4646;
    transform: scale(1.05);
}

/* Ícone do menu hamburguer */
.menu-toggle {
    display: none; /* Escondido por padrão */
    font-size: 2em;
    color: #FFF;
    background: none;
    border: none;
    cursor: pointer;
}

/* Responsividade para telas menores */
@media (max-width: 760px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1em;
    }

    .menu-toggle {
        display: block; /* Exibe o menu hamburguer */
    }

    .list {
        display: none; /* Esconde o menu por padrão */
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding-top: 1em;
    }

    .list.active {
        display: flex; /* Exibe quando ativo */
    }
}
